<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }}!</h1>
        <!-- Button to redirect to the notice creation page -->
        <a href="{% url 'teacher_notice' %}"><button>Add Notice</button></a>
        <a href="{% url 'teacher_course_material' %}"><button>Add Course Material</button></a>
        <a href="{% url 'enter_update_marks' %}"><button>Enter Marks</button></a>

        <h1>Hi</h1>
    {% else %}
        <h1>Welcome, Guest!</h1>
    {% endif %}
</body>
</html>
