{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Marks</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Additional styles here -->
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Enter Marks</h1>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Marks Obtained</th>
                        <th>Total Marks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                    <tr>
                        <td>{{ form.instance.student.username }}</td>
                        <td>{{ form.marks_obtained|add_class:"form-control" }}</td>
                        <td>{{ form.total_marks|add_class:"form-control" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-secondary mt-3">Update Marks</button>
        </form>
        <a href="{% url 'teacher_home' %}" class="btn btn-secondary mt-3">Go to Home</a>
    </div>

    <!-- Bootstrap's JavaScript includes -->
</body>
</html>
