<!-- student/templates/student/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }}!</h1>
        <!-- Button to view notices -->
        <a href="{% url 'student_notice' %}"><button>Show Notice</button></a>
        <a href="{% url 'student_course_material' %}"><button>Show Course Materials</button></a>
        <a href="{% url 'student_view_marks' %}"><button>Show Marks</button></a>

    {% else %}
        <h1>Welcome, Guest!</h1>
    {% endif %}
</body>
</html>
